html {
    height: 90%;
}

body {
    min-height: 100%;
    background-color: #000;
    color: #3dc828;
}

h1 {
    margin: 10px;
    font-family: monospace, serif;
}

.container {
    width: 500px;
    margin: 50px auto;
}

#myCanvas{
    border: 1px solid #3dc828;
}

.score-board {
    margin: 20px auto;
    text-align: center;
}

.score-board h1, .score-board h2 {
    font-family: monospace, serif;
    margin: none;
} 

#player-1, #player-2 {
    width: 240px;
    display: inline-block;
}