body {
	height: 600px;
	width: 100%;
	background-color: #000;
}

.square {
	position: absolute;
}

/* Animations */


@-webkit-keyframes grow {
	0% { -webkit-transform: scale(1); opacity: 1;}
	100% { -webkit-transform: scale(5); opacity: 0;}
}
@-o-keyframes grow {
	0% { -o-transform: scale(1); opacity: 1;}
	100% { -o-transform: scale(5); opacity: 0;}
}
@-moz-keyframes grow {
	0% { -moz-transform: scale(1); opacity: 1;}
	100% { -moz-transform: scale(5); opacity: 0;}
}
@-ms-keyframes grow {
	0% { -ms-transform: scale(1); opacity: 1;}
	100% { -ms-transform: scale(5); opacity: 0;}
}
@keyframes grow {
	0% { transform: scale(1); opacity: 1;}
	100% { transform: scale(5); opacity: 0;}
}

.drop {
	/*position: absolute;*/
	-webkit-animation: grow 2s;
	-moz-animation: grow 2s;
	-o-animation: grow 2s;
	-ms-animation: grow 2s;
	animation: grow 2s;
}