html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: #fff5e8;
}

button {
	position: absolute;
	top: 25px;
    left: 14px;
    border: none;
    cursor: pointer;
    width: 82px;
    height: 45px;
	background-color: #f9d77a;
	font-weight: bold;
}
button:hover {
	background-color: #f9cb4e;
}