html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: #000;
}

.container {
	position: relative;
	margin: auto;
	width: 500px;
}

.bulbContainer {
	height: 470px;
	display: inline-block;
	float: left;
}

.chainContainer {
	position: absolute;
	top: -200px;
	right: 0;
	height:800px;
	width: 20px;
}

#chainImgs {
	position: relative;
	top: 0;
	cursor: pointer;
}


#bulbOn, #chainOn {
	display: none;
}

.on{
	background-color: #fffad3;
}