body {
	background-color: #202123;
}
.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.overlay {
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.9;
	z-index: 500;
	position: fixed;
	overflow: hidden;
	text-align: center;
}

.overlay h1,
.overlay h3 {
	position: relative;
	color: rgba(255, 255, 255, 1);
	z-index: 505;
	background-color: #000;
}

.overlay h1 {
	font-size: 3em;
	margin: 2em 0;
}

.overlay button {
	border: none;
	box-shadow: none;
	background-color: #1a4adb;
	font-size: 2em;
	color: #fff;
	margin-top: 100px;
	height: 60px;
	width: 160px;
}

.overlay button:hover {
	background-color: #3d6cf7;
}

.base {
	background-color: #000;
	border-radius: 50%;
	height: 500px;
	width: 500px;
	margin: 100px auto 0 auto;
	transform: rotate(45deg);
}

.color {
	height: 215px;
	width: 215px;
	display: inline-block;
	z-index: 100;
	/*margin:15px;*/
	border: 15px solid #000;
}

.green {
	background-color: #0ea506;
	border-radius: 100% 0 0 0;
}

.blue {
	background-color: #0f49a8;
	border-radius: 0 100% 0 0;
}

.red {
	background-color: #ce120c;
	border-radius: 0 0 0 100%;
}

.yellow {
	background-color: #dde023;
	border-radius: 0 0 100% 0;
}

.black {
	background-color: #000;
	border-radius: 90%;
	height: 200px;
	width: 200px;
	position: absolute;
	margin-top: 150px;
	margin-left: 150px;
	z-index: 105;
}

.level {
	color: #fff;
	text-align: center;
	font-size: 2em;
	margin-top: 60px;
}

/** Animations **/

@keyframes glowBlue {
    0%, 100%   {background-color: #0f49a8; 
    				box-shadow: none;}
    50%  {background-color: #8db7fc; 
    		box-shadow: inset 0 0 20px 2px #c4c4c4;}
}

.blueG {
	animation-name: glowBlue;
    animation-duration: 0.5s;
}

@keyframes glowGreen {
    0%, 100%   {background-color: #0ea506; 
    				box-shadow: none;}
    50%  {background-color: #87f481; 
    		box-shadow: inset 0 0 20px 2px #c4c4c4;}
}

.greenG {
	animation-name: glowGreen;
    animation-duration: 0.5s;
}

@keyframes glowYellow {
    0%, 100%   {background-color: #dde023; 
    				box-shadow: none;}
    50%  {background-color: #fdff8c; 
    		box-shadow: inset 0 0 20px 2px #c4c4c4;}
}

.yellowG {
	animation-name: glowYellow;
    animation-duration: 0.5s;
}

@keyframes glowRed {
    0%, 100%   {background-color: #ce120c; 
    				box-shadow: none;}
    50%  {background-color: #fc938f; 
    		box-shadow: inset 0 0 20px 2px #c4c4c4;}
}

.redG {
	animation-name: glowRed;
    animation-duration: 0.5s;
}

@keyframes glowBody {
    0%, 100%   {background-color: #000; 
    				box-shadow: none;}
    50%  {background-color: #fc938f; 
    		box-shadow: inset 0 0 20px 2px #c4c4c4;}
}

.bodyG {
	animation-name: glowBody;
    animation-duration: 0.5s;
}

