body {
	background-color: #6697e8;
	font-size: 22px;
	font-family: "Century Gothic";
	letter-spacing: 3px;
}

#top {
	position: fixed;
	top: 300px;
	left: 50px;
}

#bottom {
	height: 100px;
	width: 200px;
	position: absolute;
	left: 58px;
	top: 550px;
}

#container {
	height: 1000px;
}